[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/amol1089
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/amol1089
	label-Verified = -1..+1 group user/amol1089
	push = group user/amol1089
	read = group user/amol1089
	rebase = group user/amol1089
	removeReviewer = group user/amol1089
	submit = group user/amol1089
[access "refs/heads/*"]
	create = group user/amol1089
	push = +force group user/amol1089
	pushMerge = group user/amol1089
	read = group user/amol1089
[access "refs/tags/*"]
	push = group user/amol1089
	push = +force group user/amol1089
